* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'playfair Display';
    box-sizing: border-box;
}

header {
    background-color: #350808;
    color: aliceblue;
    width: 100%;
}


.logo {
    padding: 20px;
}


.logo h2 {
    font-size: 3rem;
}

.rainbow-text {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

nav ul li {
    list-style: lower-greek;
    display: inline-block;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: red;
}

body {
    margin: 0;
    background-color: #350808;
    background-size: cover;
}

main {
    min-height: 100vh;
    display: flex;
    background: transparent;
    scroll-snap-type: x mandatory;
    grid-template-columns: 100vw 100vw 100vw;
    width: 250vw;
    justify-content: center;
    align-items: center;
}

figure {
    max-width: 60vw;
    margin: auto;
    background: rgba(131, 127, 127, 0.8);
    padding: 2em;
    border: 1px solid #ddd;
    box-shadow: 1 0 1em -0.5em #aaa;
    justify-content: center;
    padding: 2em;
    position: relative;
}

figure img {
    max-width: 100%;
    max-height: 60vh;
    padding-left: auto;
}

figure figcaption {
    color: #fff;
    font-weight: 1000;
    font-size: 2.5em;
    font-style: normal;
    text-align: left;
    s text-shadow: 0 0 1em #555;
    text-shadow: 0 0 1em #555;
    position: absolute;
    right: -1em;
    bottom: -1em;

}

footer {
    background: #350808;
    padding-top: 50px;
    color: #aaa;
}

.container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190ox;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 0;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #aaa;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;

}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;

}

.social-icons i {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #aaa;
}

a:hover {
    color: #116ef0;
    font-style: bold;
}

.social-icons i:hover {
    color: #f18930;
}

.bottom-bar {
    background: #100801;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p {
    color: #f0e5e5;
    margin: 0;
    font-size: 16px;
    padding: 7px;
    font-style: bold;
}